<!-- reset-password.component.html -->

<div class="login-modal" [ngClass]="{'show': true}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModal()">
        <i class="fa fa-times-circle"></i>
      </span>
      <h2>Reset Password</h2>
      <form [formGroup]="resetPasswordForm" (submit)="submitResetPasswordForm()">
        <div class="input-container">
          <input id="resetPassword" type="password" formControlName="newPassword" placeholder=" " required />
          <label for="resetPassword">New Password *</label>
          <small *ngIf="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched">Password must be at least 6 characters.</small>
        </div>
        <div class="input-container">
          <input id="confirmResetPassword" type="password" formControlName="confirmPassword" placeholder=" " required />
          <label for="confirmResetPassword">Confirm Password *</label>
          <small *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && resetPasswordForm.controls['confirmPassword'].touched">Passwords must match.</small>
        </div>
        <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
      </form>
      <p class="login-link">
        Remember your password? <a href="#" (click)="navigateToLogin()">Login here</a>
      </p>
      <p class="signup-link">
        Don't have an account? <a href="#" (click)="navigateToSignUp()">Sign up here</a>
      </p>
    </div>
  </div>